{% extends 'accounts/template.html' %}

{% block title %}
Classes
{% endblock %}

{% block content %}
<div class="col">
		<h5>Classes of {{ request.user.student }}:</h5>
		<hr>
		<div class="card card-body">
{#			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>#}
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Class</th>
					<th>Teacher</th>
                    <th>View</th>
				</tr>

                {% for classname in classes %}
                <tr>
					<td></td>
					<td>{{ classname }}</td>
					<td>{{ classname.teacher_set.first }}</td>
                    <td><a class="btn btn-primary  btn-sm" href="{% url 'lessons' classname.id %}">View</a></td>
				</tr>

                {% endfor %}
            </table>
        </div>
</div>
{% endblock %}