<nav class="navbar smart-scroll navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">

                <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}"> Home </a> </li>
                <li class="nav-item"><a class="nav-link" href=""> Profile </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'classes' %}"> Classes </a></li>
                <li class="nav-item"><a class="nav-link" href=""> Homework </a></li>                         <!-- link to scroll     -->


            </ul>
        </div>

        <div class="text-white" style="margin-right: 50%;">LMS</div>


</nav>