{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/signupstyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid p-3">
    <h1 align="center">signup page</h1>
    <p class="text-black-50" align="center">Register for no reason...</p>
</div>

<fieldset style="margin: auto;">
    <div class="wrapper bg-white">
        <div class="h4 text-muted text-center pt-2">Fill the form</div>
        <form class="pt-3" method="POST" action="">
            {% csrf_token %}
            <div class="form-group py-2">
                <label class="text-secondary">Username:</label>
                <div class="input-field">
{#                    <input type="text" placeholder="e.g:Jack123" required>#}
                    {{ form.username }}
                </div>
            </div>

            <div class="form-group py-2">
                <label class="text-secondary">Email:</label>
                <div class="input-field">
{#                    <input type="text" placeholder="e.g:Jack123" required>#}
                    {{ form.email }}
                </div>
            </div>

            <div class="form-group py-1 pb-2">
                <label class="text-secondary">Password:</label>
                <div class="input-field">
{#                    <input type="password" placeholder="****" required class="">#}
                    {{ form.password1 }}
                </div>
            </div>
            <div class="form-group py-1 pb-2">
                <label class="text-secondary">Password verify:</label>
                <div class="input-field">
{#                    <input type="password" placeholder="****" required class="">#}
                    {{ form.password2 }}
                </div>
            </div>

{#            <div class="alert alert-danger">#}
{#                <strong>{{ form.errors }}</strong>#}
{#            </div>#}

            <button class="btn btn-block text-center my-3" type="submit">SIGN UP</button>
            <div class="text-center pt-3 text-muted">Already have an account? <a href="{% url 'login' %}" target="_blank">Log in</a></div>
            <div class="text-center pt-3">
                <label class="text-muted ">want to reset?  <button class="btn btn-light" type="reset">Reset</button></label>
            </div>
        </form>

    </div>
</fieldset>

</body>
</html>